<div class="row   justify">
    <div class="">
        <span class="z-1"
            style="width: 100%; height: 100%; position: absolute; background-color: rgba(0, 0, 0, 0.716);"></span>
        <img class="img-fluid position-fixed " style="width: 100%; height: 100%;"
            src="https://dlcdnrog.asus.com/rog/media/1593158694782.webp">
    </div>
    <div class="col12 z-1  position-absolute d-flex presentation__text  align-items-center" style="height: 100vh;">
        <div class="d-flex  flex-column fs-3 gap-3 ps-4 fw-bolder">
            <h2 class="fs-1 fw-bolder" style="color: rgb(167, 16, 255);">About me,</h2>
            <span style="color: rgb(11, 243, 255);">I am a person with excellent communication
                skills,</span>
            <span style="color: rgb(12, 113, 255);">I love to
                collaborate and work in a team,</span>
            <span style="color: rgb(255, 67, 10);"> I am looking for a job as a front-end
                developer,</span>
            <span style="color: rgb(255, 174, 12);">where I can apply my
                knowledge and skills</span>
        </div>
    </div>
    <div class="next__page">
        <header>
            <a class="next__link" href="my-projects">My Projects</a>
            <a href="my-projects"><i class='bx bx-right-arrow-alt bx-flashing'></i></a>
        </header>
    </div>
</div>