@media (max-height: 500px) {
    .offcanvas-body{
        scale: 0.6;
    }
    .navbar-nav{
        margin-top: -6em;
        padding-top: 4em;
    }
    .container__contact{
        margin-bottom: -5em;
    }
}