<div class="container-nav ">
    <nav class="navbar border-bottom border-danger border-2 fixed-top" style="background-color: rgba(0, 0, 0, 0.52);">
        <div class="container-fluid">
            <a class="navbar-brand text-warning" href="#"><i class='bx bx-code-alt fs-1'></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                style="color: rgb(255, 196, 0)">
                <i class='bx bx-menu fs-1 text-warning'></i>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel" style="background-color: rgba(0, 0, 0, 0.872);">
                <div class="offcanvas-header ">
                    <button type="button" class="navbar-toggler position-absolute top-0 end-0 mt-2 mx-2"
                        data-bs-dismiss="offcanvas" style="color: rgb(255, 196, 0)">
                        <i class='bx bx-menu fs-1 text-warning'></i>
                    </button>
                </div>
                <div class="offcanvas-body pt-5">
                    <ul class="navbar-nav align-items-center gap-3 fs-4 fw-bolder">
                        <li class="nav-item">
                            <a class="nav-link" style="color: rgb(224, 0, 45)" href="home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: rgb(224, 0, 45)" href="aboutme">
                                About me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: rgb(224, 0, 45)" href="my-projects">
                                My projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: rgb(224, 0, 45)" href="skill">
                                skills</a>
                        </li>
                    </ul>
                    <div class="  position-absolute bottom-0 start-0 end-0 mb-5">
                        <ul class=" container__contact nav align-items-center justify-content-center gap-4 fs-2">
                            <li class="nav-item li-icon border border-2  border-warning rounded-1 pe-2 ps-2">
                                <a href="https://github.com/emereson" target="_blank"><i class='bx bxl-github'
                                        style=" color: rgb(255, 191, 0)"></i></a>
                            </li>
                            <li class="nav-item li-icon  border border-2   border-warning rounded-1 pe-2 ps-2">
                                <a href="https://www.linkedin.com/in/emerson-yujra-997b52260" target="_blank"><i
                                        class='bx bxl-linkedin' style=" color: rgb(255, 191, 0)"></i></a>
                            </li>
                            <li class="nav-item li-icon  border border-2   border-warning rounded-1 pe-2 ps-2">
                                <a href="https://mail.google.com/mail/u/0/?tab=wm#advanced-search/to=escanorrosa123%40gmail.com&query=in%3Asent&isrefinement=true&todisplay=Emerson+wilson+Condori+Yujra"
                                    target="_blank"><i class='bx bxl-gmail' style=" color: rgb(255, 191, 0)"></i></a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>