<div class="row   justify">
    <div class="">
        <span class="z-1"
            style="width: 100%; height: 100%; position: absolute; background-color: rgba(0, 0, 0, 0.837);"></span>
        <img class="img-fluid position-fixed " style="width: 100%; height: 100%;"
            src="https://i.redd.it/k678k7px5jy61.jpg">
    </div>
    <div class=" z-1 position-fixed " style="width: 100%; height: 100%">
        <div class=" div__slider text-center mt-5 pt-5">
            <h1 class="pt-5 fs-1 fw-bolder text-danger">My projects</h1>
            <div class=" container__slider">
                <div class="container">
                    <input type="radio" name="slider" id="item-1" checked>
                    <input type="radio" name="slider" id="item-2">
                    <input type="radio" name="slider" id="item-3">

                    <div class="cards">
                        <section class="project__section section1">
                            <label class="card" for="item-1" id="selector-1">
                                <img src="../../../assets/netflyx.png" alt="">
                                <ul class="project__ul">
                                    <p>neflyx clone where you can see the trailers of the movies and series</p>
                                    <div>
                                        <li class="Project__li"><a class="nav-link"
                                                href="https://dulcet-cucurucho-90d923.netlify.app"
                                                target="_blank"><span><i class='bx bx-planet'></i> Website</span> </a>
                                        </li>
                                        <li class="Project__li"> <a class="nav-link"
                                                href="https://github.com/emereson/Metflix.git" target="_blank"><span><i
                                                        class='bx bxl-github'></i>
                                                    Repository</span></a>
                                        </li>
                                    </div>
                                </ul>
                            </label>
                        </section>
                        <section class="project__section section2">
                            <label class="card" for="item-2" id="selector-2">
                                <img src="../../../assets/Ecomerce.png" alt="">
                                <ul class="project__ul">
                                    <p>page to simulate purchases of technological equipment</p>
                                    <div>
                                        <li class="Project__li"> <a class="nav-link"
                                                href="https://incredible-capybara-476967.netlify.app"
                                                target="_blank"><span><i class='bx bx-planet'></i> Website</span> </a>
                                        </li>
                                        <li class="Project__li"> <a class="nav-link"
                                                href="https://github.com/emereson/E-comerce__Reactjs.git"
                                                target="_blank"><span><i class='bx bxl-github'></i>
                                                    Repository</span></a>
                                        </li>
                                    </div>
                                </ul>
                            </label>
                        </section>
                        <section class="project__section section3">
                            <label class="card" for="item-3" id="selector-3">
                                <img src="../../../assets/Pokedex.png" alt="">
                                <ul class="project__ul">
                                    <p>Put your name and see all the pokemons with their statistics</p>
                                    <div>
                                        <li class="Project__li"> <a class="nav-link"
                                                href="https://roaring-bienenstitch-94a05d.netlify.app"
                                                target="_blank"><span><i class='bx bx-planet'></i> Website</span> </a>
                                        </li>
                                        <li class="Project__li"> <a class="nav-link"
                                                href="https://github.com/emereson/Pokedex-entragble5.git"
                                                target="_blank"><span><i class='bx bxl-github'></i>
                                                    Repository</span></a>
                                        </li>
                                    </div>
                                </ul>
                            </label>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>